/target
.DS_Store
/docks.json
/profile.json
.vscode
index.scip
*.log
*.exe
blueprint.json
*.wav
*.mp3
*.stacks
profile.json.gz
.envrc
.direnv
*.zip
/crates/engine/target
/crates/pulsar_docs/target
PROMPT.md
